<ion-header>
    <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Infos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="medicaments">
 <ion-card>
    <div *ngIf="medicaments.poster_path">
        <img  [src]="medicaments.poster_path">
    </div>
    <div *ngIf="!medicaments.poster_path">
        <img src="assets/imgs/logo_pharm.png">
    </div>
   <ion-card-content class="card-content card-content-md">
    <ion-card-title class="card-title card-title-md">
        <b>{{medicaments.title}}</b>
    </ion-card-title>
    <p>
      <!-- a{{medicaments.iab[0].abstract}} -->
    </p>
  </ion-card-content>

  

</ion-card>

  <ion-list style="color: black">
      <ion-item >
          <i>Nom</i>
            <label ion-button color="secondary" outline item-end style="font-size: small">
              <b>{{medicaments.title}}</b>
            </label>
      </ion-item>
      <ion-item>
          <i>Autorisation</i> 
        <label ion-button color="secondary" outline item-end >      
            {{medicaments.authorization_holder}}
        </label>
      </ion-item>
      
  </ion-list>

  <ion-row class="row" no-padding="">
      <ion-col class="col-md-12" text-center="">
        <button (click)="InfosBase(medicaments.id)" ion-button color="secondary" round >En savoir plus...</button>
      </ion-col>
     </ion-row>
</ion-content>