<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Acceuil
    </ion-title>
</ion-navbar>

<!-- <shrinking-segment-header [scrollArea]="myContent" headerHeight="150">
    <img src="assets/imgs/images.jpg" />
    <h2>Josh</h2>
</shrinking-segment-header> -->

<ion-toolbar color="secondary" mode="md">
  <ion-segment color="white" mode="md" [(ngModel)]="section">
    <ion-segment-button value="one">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="two">
      <ion-icon name="medkit"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content  fullscreen #myContent>
<div [ngSwitch]="section">
    <ion-list *ngSwitchCase="'two'">
        <ion-item class="item item-block item-md" *ngFor="let medicament of medicaments" (click)="goToDetail(medicament)">
            <ion-thumbnail item-start="" >
              <div *ngIf="medicament.poster_path">
                  <img [src]="medicament.poster_path">
              </div>
              <div *ngIf="!medicament.poster_path">
                  <img src="assets/imgs/logo_pharm.png">
                </div>
               
            </ion-thumbnail>
         
          <h2 style="color: black"><b>{{medicament.title}}</b></h2>
          <br>
          <div style="color: black"><i>{{medicament.authorization_holder }}</i></div>
    </ion-item>
  </ion-list>

    <ion-list *ngSwitchCase="'one'">
        <button ion-button (click)="launchLocationPage()">Launch</button>
    </ion-list>

</div>

</ion-content>

<button (click)="scan()" style="padding-top: 250px;">
<ion-footer >
  <ion-toolbar color="secondary">
      <ion-grid>
        
          <ion-row>
           <img src="assets/imgs/qr_code_logo.png" width="15%" height="15%">
           <ion-title>SCANNER</ion-title>
          </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>
</button>

