<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste Médicaments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <ion-list>
      <ion-item *ngIf="medicaments">
        <ion-thumbnail item-start>
          <ion-col *ngFor="let medicament of medicaments" (click)="goToDetail(medicament)">
            <ion-thumbnail item-start>
            <img [src]="medicament.poster_path" width="30%"/>
            <h2>{{medicament.title}}</h2>
            <p>{{medicament.authorization_holder}}</p>
            </ion-thumbnail>
          </ion-col>
        </ion-thumbnail>
      </ion-item>
    </ion-list> -->

    <!-- <ion-card class="card card-md" *ngFor="let medicament of medicaments" (click)="goToDetail(medicament)">

        <img [src]="medicament.poster_path">
    
        <ion-card-content class="card-content card-content-md">
          <ion-card-title class="card-title card-title-md">
              {{medicament.title}}
          </ion-card-title>
          <p>
              <i>{{medicament.authorization_holder}}</i>
          </p>
        </ion-card-content>
    </ion-card> -->
<ion-list *ngIf="medicaments">
      <ion-item class="item item-block item-md" *ngFor="let medicament of medicaments" (click)="goToDetail(medicament)">
          <ion-thumbnail item-start="" >
            <div *ngIf="medicament.poster_path">
                <img [src]="medicament.poster_path">
            </div>
            <div *ngIf="!medicament.poster_path">
                <img src="assets/imgs/logo_pharm.png">
              </div>
             
          </ion-thumbnail>
       
        <h2><b>{{medicament.title | json}}</b></h2>
        <br>
        <i>{{medicament.authorization_holder | json}}</i>
  </ion-item>
</ion-list>
</ion-content>
<!-- <ion-content padding>
  <ion-grid *ngIf="medicaments">
    <ion-row>
      <ion-col col-4 *ngFor="let medicament of medicaments">
        <img [src]="medicament.poster_path" (click)="goToDetail(medicament)" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
